html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.main-container {
  width: 1200px;
  height: 100vh;
}

.top-main-header {
  height: 400px;
  width: 100%;
}

.top-section-1 {
  width: 100%;
  height: 400px;
  background-color: #c2c2c2;
  text-align: center;
  padding-top: 200px;
  margin-bottom: 90px;
}

.top-section-2 {
  width: 100%;
  height: 200px;
  background-color: #dd0000;
}

.top-section-3 {
  width: 100%;
  height: 100px;
  background-color: #ff0000;
}

.top-section-4 {
  width: 100%;
  height: 300px;
  background-color: #000;
}

.footer {
  background-color: #787878;
  width: 100%;
  height: 50px;
}
