ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bigInput {
  height: 30px;
  width: 20%;
  margin-left: 10px;
  margin-right: 15px;
  padding-left: 12px;
  font-size: 18px;
}


.inputFilters {
  position: absolute;
  margin-top: 10px;
  width: 100%;
}

.cards {
  background: #ccc;
  text-align: center;
  color: black;
  width: 31%;
  float: left;
  margin-right: 15px;
  margin-top: 55px;
  margin-left: 5px;
}
